<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Gra paragraf</title>
  </head>
  <body class="{{ mode }}">
    <h1>A game</h1>
    <h3>Version 1.0, author: popsicleslayer</h3>
    {{ place.description }}
    <p>Your current gold {{ money }}</p>
    <ul>
    {% for way in ways %}
    <form action="/go/{{ way.id }}/" method="post">
    <li>{{ way.description }}</li>
    {% if way.cost != 0 %}
      {% if way.cost > money %}
        <input type="submit" value="Go" disabled>
        <br>
        <span class="cost">-{{way.cost}} gold</span>
      {% else %}
        <input type="submit" value="Go">
        <br>
        <span class="cost">-{{way.cost}} gold</span>
      {% endif %}
    {% elif way.gain != 0 %}
      <input type="submit" value="Go">
      <br>
      <span class="gain">+{{way.gain}} gold</span>
    {% else %}
      <input type="submit" value="Go">
    {% endif %}
    </form>
    {% empty %}
    <li>No further ways</li>
    {% endfor %}
    </ul>
    <a href="/?mode=light">Light mode</a>
    <a href="/?mode=dark">Dark mode</a>
  </body>
</html>
